/.vscode
/node_modules
/public/js/app.js
/public/css/app.css
/public/hot
/public/storage
/public/img/authors
/public/img/avatars
/public/img/photos
/public/img/meta*
/public/google0244cd168ef8f2be.html
/public/google80efb4bc72ea7f17.html
/public/yandex_925895738a2b09da.html
/public/sitemap.xml
/public/.htaccess.base
/resources/views/seoMetrics.blade.php
/storage/*.key
/storage/debugbar/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
