body {
    background-color: #e7ebf2;
}

/*p,*/
/*a {*/
/*    font-size: 18px;*/
/*}*/

h3 {
    color: #a6192e;
}

.main-navbar {
    background-color: #04718c;
}

.navbar-links > li {
    font-size: 16px;
    /*text-transform: uppercase;*/
}

.about-us-section img {
    width: 250px;
}

.about-us-section > p {
    font-size: 18px;
    margin-top: 15px;
}

footer {
    /*position: absolute;*/
    bottom: -1px;
    width: 100%;
    /* height: 100%; */
    line-height: 60px;
    background-color: #04718c;
}

.container {
    height: 100%;
}

.carousel-item > img {
    width: 31%;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.main-page-carousel-inner {
    text-align: center;
}

.quotes-blocks {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 25px;
}

.quotes-blocks > a {
    text-align: start;
    color: #a6192e;
}

.qouter-share {
    background-color: #04718c;
    color: white;
}

.qouter-authors-image {
    width: 21px;
    margin-right: 5px;
}

.quotes-pagiination {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 10px;
}

.authors-main-title {
    text-align: center;
}

.authors-links,
.home-tems-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px !important;
}

.tags {
    display: flex;
}

.main-content-video {
    padding: 15px;
}

.contact-form-block {
    background-color: #04718c;
    padding: 20px;
    color: white;
}

.home-tems-section > div {
    display: flex;
    justify-content: center;
}

.photos-pagination {
    margin: 20px 0;
}

.elastic li.hide {
    display: none;
}

.videos-channels-title {
    padding: 10px 0 0 15px;
}

.videos-channels-title a {
    color: #a6192e;
}

.videos-channels-title img {
    width: 22px;
}

.video-share {
    margin-left: 10px;
    /* display: none; */
}

.video-share a img {
    width: 22px;
    vertical-align: center;
}

.single-video-block {
    max-width: 360px;
    min-height: 480px;
    float: left;
}

#ShowHide1 {
    cursor: pointer;
}

#exemple1 {
    display: none;
}

.my-main-divider {
    height: 1px;
    width: 100%;
    margin: 15px 0;
    background-color: #a6192e;
}

.page-item.active .page-link {
    background-color: #04718c;
}

.page-link {
    color: #04718c;
}

.back-to-top {
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*position: absolute;*/
    /*rihgt: 30px;*/
    /*top: 30px;*/
}

#arrowTop {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #04718c; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 0.25rem; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#arrowTop:hover {
    background-color: #a6192e;
    border-shadow: #fff;
}

.tags-block {
    display: flex;
    justify-content: center;
}

.tags-block a {
    margin-right: 10px;
    color: #04718c;
}

a {
    color: #04718c !important;
}
